body {
  background-image: url(./gingfinal.png);
  background-attachment: fixed;
  margin: 0 auto;
  font-family: Helvetica, Georgia, Verdana, sans-serif;
}

.content {
  position: relative;
  top: 0;
  left: 0;
  margin: 50px 45px 35px 45px;
  padding: 15px;
  background-color: #f9ee6f;
  z-index: 1;
  min-height: 90%;
}

.news {
  font-family: Helvetica, Verdana, sans-serif;
}

hr {
	border: 0;
	margin-left: 10%;
	margin-right: 10%;
	color: #663300;
	background-color: #663300;
	height: 3px;
}

h1,h2,h3,h4,h5,h6,li {
 margin-bottom: 0;
 margin-top: 0;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

p.date { font-size: 70%; }

.center { text-align: center; }

ul {
  position: relative;
  left: 20px;
}

ul.center {
  position: relative;
  left: 0px;
  margin: 0px;
  padding: 0px;
}

table.navigation { width: 100%; }

table.navigation,tr.navigation,th.navigation,td.navigation {
	border-collapse: collapse;
	border: 0;
	padding: 0;
	margin: auto;
	text-align: center;
}

ul.plain { list-style-type: none; }

a:link { color: #996600; }
a:visited { color: #996600; }
a:hover { color: #330000; }
a:active { color: #cc6600; }

.iedoom {
	margin: 50px;
	background-color: #ff6666;
	border: 2px solid #ff0000;
	text-align: justify;
}

.iedoom a:link { 
	color: #000;
	text-decoration: underline;
}
.iedoom a:visited { 
	color: #000;
	text-decoration: underline;
}
.iedoom a:hover { 
	color: #000;
	text-decoration: underline;
}
.iedoom a:active { 
	color: #000;
	text-decoration: underline;
}
.iedoom table {
	text-align: center;
	margin: auto;
}

.iedoom img {
	border: 0;
}
